<div class="row">
    <div class="col m-3 animated fadeIn fast">
        <h1>Sobre Super Héroes App</h1>
        <hr>
        <p>
            Esta es una aplicación realizada con Angular CLI versión 11.2.0 con fines de estudio y para practicar el desarrollo
            Frontend con Angular y Bootstrap.<br>
            Se pueden hacer búsquedas de super heroes en la barra de navegación.<br>
            Los resultados de la búsqueda se traen desde un servicio leyendo los objetos json de un archivo.<br>
            Las imágenes que usé cuentan con licencias Creative Commons (CC BY'NC 4.0)<br>
        </p>
        <hr>
        <br>
        <h2>Tecnologías utilizadas en esta aplicación</h2>
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Angular CLI 11</li>
            <li class="list-group-item">Componentes reutilzables, Servicios y Rutas</li>
            <li class="list-group-item">Directivas estructurales (*ngFor y *ngIf)</li>
            <li class="list-group-item">Enviar datos del componente padre al hijo a traves de @Input y [prop],comunicar al componente hijo con el padre a través de @Output y EventEmmiter</li>
            <li class="list-group-item">Transformación visual de los datos usando pipes</li>
        </ul>
        <br>
        <br>
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Bootstrap 4.6</li>
            <li class="list-group-item">NavBar</li>
            <li class="list-group-item">Cards</li>
            <li class="list-group-item">Jumbotron</li>
        </ul>
        <br>
        <br>
        <ul class="list-group mb-3">
            <li class="list-group-item active" aria-current="true">Otras tecnologías</li>
            <li class="list-group-item">HTML 5</li>
            <li class="list-group-item">CSS 3 (Cambios estéticos y uso de la libreria 'animate')</li>
            <li class="list-group-item">Typescript</li>
        </ul>        
    </div>
</div>
<br>
<br>
<br>